{% load static %}
<head>
  <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=10.0">
  <title>yusuke.blog</title>
  <link href="{% static 'css/style.css' %}" rel="stylesheet">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
  <meta http-equiv="Content-Script-Type" content="text/javascript">
</head>
<header>
  <div id="fixed">
    <div class="sp_menu">
      <span class="logo">YUSUKE.BLOG</span>
      <a href="{% url 'myblog:contact' %}" class="reservation "><img class="pc_content" src="{% static 'myblog/contact.png' %}" alt="contact"><img class="sp_content" src="" alt=""></a>
      
      <div id="hamburger">
        <div class="menu-trigger">
          <span></span>
          <span></span>
          <span></span>
         </div>
      </div>
       <div id="blind_menu">
         <ul id="menu_list_sp" style="padding: 0;">
           <li class="menu_item">
             <a href="../../../myblog/" class="menu-list">Top</a>
           </li>
           <li class="menu_item">
             <a href="./index.php" class="menu-list">About</a>
           </li>
           <li class="menu_item">
             <a href="./here.php" class="menu-list">Portfolio</a>
           </li>
           <li class="menu_item">
             <a href="../../../myblog/#blog" class="menu-list">Blog</a>
           </li>
           <li class="menu_item">
             <a href="{% url 'myblog:contact' %}"  class="menu-list">Contact</a>
           </li>
         </ul>
       </div>
      </div>

  </div>
</header>



<section id="blog" class="cf" style="width: 1100px; display: flex;">
  <div class="blog-main">
    <h1>{{ category.name }}の投稿一覧</h1>
    <ul>
      {% for post in object_list %}
      {% if user.is_authenticated or post.is_public %}
      <li>{% if not post.is_public %}[下書き] {% endif %}<a href="{% url 'myblog:post_detail' post.id %}" class="card-link">{{ post.title }}</a></li>
      {% else %}
      <li>投稿はありません。</li>
      {% endif %}
      {% empty %}
      <li>まだ投稿はありません。</li>
      {% endfor %}
    </ul>
  </div>

    <div class="container">
      <div class="row">
        <main class="col-md-8">
          <h1 class="mb-4">投稿一覧</h1>
          
        </main>
        <aside class="col-md-4">
          {% include "myblogapp/templates/snippets/sidebar.html" %}
        </aside>
      </div>
    </div>
  
</section>
  
  





<footer style="padding:150px 0 210px; text-align: center; font-size:10px;">
  <p class="all_rights">Copyright © 2019  All Rights Reserved.</p>
</footer>
<script src="{% static 'js/jquery-3.4.1.min.js' %}"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://unpkg.com/scrollreveal@4.0.0/dist/scrollreveal.min.js"></script>
<script src="{% static 'js/index.js' %}"></script>