{% extends 'myblog/base.html' %}
{% load static %} 

{% block content %}
<section id="section_top">
  <div id="top_image">

    <div class="box">
      <div class="bgImg src1"></div>
      <div class="bgImg src2"></div>
      <div class="bgImg src3"></div>
      <div class="bgImg src4"></div>
    </div>
    
    <p style="display: block;">
      <h1 class="top-text">Muramatsu Yusuke</h1>
      <h6 class="sub-text">未経験からWebエンジニアへ</h6>
    </p>
    <a href="#insta_area" style="text-decoration: none; color: gray;">
      <p style="width: 620px;">
        SCROLL
        <i class="fa fa-angle-double-down animated"></i>
      </p>
    </a>
  </div>
  
</section>


<!--Portfolio--------------------------------------------------------------------------------------------------------------->
<section id="works" class="cf">
  <h2 class="ttl">Portfolio</h2>
  <ul class="worksList">
    <li class="first">
      <p class="photo"><a href="http://3.115.248.162/"><img width="560" height="520" src="{% static 'myblog/camp.png' %}" class="attachment-post-thumbnail size-post-thumbnail wp-post-image" alt="" sizes="(max-width: 560px) 100vw, 560px"></a></p>
      <p class="cont" style="font-size: 12px; font-style: italic;">Ruby/Ruby on Rails/MySQL/Github/AWS</p>
    </li>
    <li class="first">
      <p class="photo"><a href="http://developmentecsite.herokuapp.com/"><img width="560" height="520" src="{% static 'myblog/ecsite.jpg' %}" class="attachment-post-thumbnail size-post-thumbnail wp-post-image" alt="" sizes="(max-width: 560px) 100vw, 560px"></a></p>
      <p class="cont" style="font-size: 12px; font-style: italic;">PHP/Laravel/PostgreSQL/Github/Heroku</p>
    </li>
    <li class="first">
      <p class="photo"><a href="http://3.115.17.18/"><img width="560" height="520" src="{% static 'myblog/frima.png' %}" class="attachment-post-thumbnail size-post-thumbnail wp-post-image" alt="" sizes="(max-width: 560px) 100vw, 560px"></a></p>
      <p class="cont" style="font-size: 12px; font-style: italic;">Ruby/Ruby on Rails/Mysql/Github/AWS</p>
    </li>
    <li class="second">
      <p class="photo"><a href="https://myblog-yusuke2020.herokuapp.com/myblog/"><img width="560" height="520" src="{% static 'myblog/yusuke.png' %}" class="attachment-post-thumbnail size-post-thumbnail wp-post-image" alt="" sizes="(max-width: 560px) 100vw, 560px"></a></p>
      <p class="cont" style="font-size: 12px; font-style: italic;">Python/Django/PostgreSQL/Github/Heroku</p>
    </li>
  </ul>
</section>


<!--BLOG--------------------------------------------------------------------------------------------------------------->
<section id="blog" class="cf">
  <h2 class="ttl">Blog</h2>
  <ul class="blogList">
    {% for post in object_list %}
    {% if user.is_authenticated or post.is_public %}
    <li>
      {% if post.image %}
      <p class="photo"><a href="{% url 'myblog:post_detail' post.id %}">
        <img style="width: 264px; height: 245.14px;" src="{{ post.image.url }}" class="attachment-post-thumbnail size-post-thumbnail wp-post-image" alt="{{ post.title }}">
      </a></p>
      <p class="cont">{{ post.title }}</p>
      <a href="{% url 'myblog:post_detail' post.id %}" class="detail">more</a>
      {% endif %}
    </li>
    {% endif %}
    {% empty %}
    <li>まだ投稿はありません。</li>
    {% endfor %}
  </ul>
  {% include "myblog/pagination.html" %}
</section>



<!--Instagram--------------------------------------------------------------------------------------------------------------->
<section id="insta_area">
  <h2 class="ttl">Instagram</h2>
  <li>
    <a href="https://www.instagram.com/p/B_Re7_SpyKJ/" target="_blank"><img class="slide-bottom" src="https://images.pexels.com/photos/1687845/pexels-photo-1687845.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260" style="opacity: 1; visibility: visible; position: relative; top: 0px;"></a></li>
  <li>
    <a href="https://www.instagram.com/p/B_RiGezpQes/" target="_blank"><img class="slide-bottom" src="https://images.pexels.com/photos/1061640/pexels-photo-1061640.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500" style="opacity: 1; visibility: visible; position: relative; top: 0px;"></a>
  </li>
  <li>
    <a href="https://www.instagram.com/p/B_RiQcipv9p/" target="_blank"><img class="slide-bottom" src="https://images.pexels.com/photos/2609954/pexels-photo-2609954.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260" style="opacity: 1; visibility: visible; position: relative; top: 0px;"></a>
  </li>
  <li>
    <a href="https://www.instagram.com/p/B_RiVGgJnTO/" target="_blank"><img class="slide-bottom" src="https://images.pexels.com/photos/1252399/pexels-photo-1252399.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260" style="opacity: 1; visibility: visible; position: relative; top: 0px;"></a>
  </li>
  <li>
    <a href="https://www.instagram.com/p/B_RigHmJnNQ/" target="_blank"><img class="slide-bottom" src="https://images.pexels.com/photos/2496880/pexels-photo-2496880.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260" style="opacity: 1; visibility: visible; position: relative; top: 0px;"></a>
  </li>
  <li>
    <a href="https://www.instagram.com/p/B_Rir-UpF3o/" target="_blank"><img class="slide-bottom" src="https://images.pexels.com/photos/2612228/pexels-photo-2612228.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500" style="opacity: 1; visibility: visible; position: relative; top: 0px;"></a>
  </li>
  <li>
    <a href="https://www.instagram.com/p/B_Riz09pGoB/" target="_blank"><img class="slide-bottom" src="https://images.pexels.com/photos/3232542/pexels-photo-3232542.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260" style="opacity: 1; visibility: visible; position: relative; top: 0px;"></a>
  </li>
  <li>
    <a href="https://www.instagram.com/p/B_Ri9VEJdAR/" target="_blank"><img class="slide-bottom" src="https://images.pexels.com/photos/2412023/pexels-photo-2412023.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260" style="opacity: 1; visibility: visible; position: relative; top: 0px;"></a>
  </li>
  <li>
    <a href="https://www.instagram.com/p/B_RjJSRJERE/" target="_blank"><img class="slide-bottom" src="https://images.pexels.com/photos/771079/pexels-photo-771079.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260" style="opacity: 1; visibility: visible; position: relative; top: 0px;"></a>
  </li>
  <li>
    <a href="https://www.instagram.com/p/B_RjR7dpOUM/" target="_blank"><img class="slide-bottom" src="https://images.pexels.com/photos/66090/pexels-photo-66090.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260" style="opacity: 1; visibility: visible; position: relative; top: 0px;"></a>
  </li>
  <li>
    <a href="https://www.instagram.com/p/B_RjfmrpkYZ/" target="_blank"><img class="slide-bottom" src="https://images.pexels.com/photos/558454/pexels-photo-558454.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260" style="opacity: 1; visibility: visible; position: relative; top: 0px;"></a>
  </li>
  <li>
    <a href="https://www.instagram.com/p/B_RjojiJAj0/" target="_blank"><img class="slide-bottom" src="https://images.pexels.com/photos/799445/pexels-photo-799445.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260" style="opacity: 1; visibility: visible; position: relative; top: 0px;"></a>
  </li>
  <li>
    <a href="https://www.instagram.com/p/B_Rjx5hpjJD/" target="_blank"><img class="slide-bottom" src="https://images.pexels.com/photos/167696/pexels-photo-167696.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260" style="opacity: 1; visibility: visible; position: relative; top: 0px;"></a>
  </li>
  <li>
    <a href="https://www.instagram.com/p/B_Rj7CAJhH0/" target="_blank"><img class="slide-bottom" src="https://images.pexels.com/photos/6757/feet-morning-adventure-camping.jpg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260" style="opacity: 1; visibility: visible; position: relative; top: 0px;"></a>
  </li>
  <li>
    <a href="https://www.instagram.com/p/B_RkDIwpsFJ/" target="_blank"><img class="slide-bottom" src="https://images.pexels.com/photos/2666598/pexels-photo-2666598.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260" style="opacity: 1; visibility: visible; position: relative; top: 0px;"></a>
  </li>
  <li>
    <a href="https://www.instagram.com/p/B_RkK40pkt4/" target="_blank"><img class="slide-bottom" src="https://images.pexels.com/photos/1840394/pexels-photo-1840394.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260" style="opacity: 1; visibility: visible; position: relative; top: 0px;"></a>
  </li>
  <li>
    <a href="https://www.instagram.com/p/B_RkTkDJjSb/" target="_blank"><img class="slide-bottom" src="https://images.pexels.com/photos/2398220/pexels-photo-2398220.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260" style="opacity: 1; visibility: visible; position: relative; top: 0px;"></a>
  </li>
  <li>
    <a href="https://www.instagram.com/p/B_Rkc7lJTEl/" target="_blank"><img class="slide-bottom" src="https://images.pexels.com/photos/3455103/pexels-photo-3455103.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260" style="opacity: 1; visibility: visible; position: relative; top: 0px;"></a>
  </li>
</section>
  
{% endblock %}
